<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:spacer {"height":"var:preset|spacing|xl"} -->
	<div style="height:var(--wp--preset--spacing--xl)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:post-title {"level":1,"fontSize":"3xl"} /-->
	<!-- wp:post-date {"fontSize":"sm","textColor":"text-secondary"} /-->
	<!-- wp:post-featured-image {"style":{"border":{"radius":"16px"}}} /-->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:spacer {"height":"var:preset|spacing|xl"} -->
	<div style="height:var(--wp--preset--spacing--xl)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
